*.psd filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
1.[[:space:]]K[[:space:]]Nearest[[:space:]]Neighbors/MNIST_KNN.pickle filter=lfs diff=lfs merge=lfs -text
3.[[:space:]]Random[[:space:]]Forest[[:space:]]Classifier/MNIST_RFC.pickle filter=lfs diff=lfs merge=lfs -text
